<header>
    <div class="container">
     
       
    </div>
</header>

<section class="banner-sec">
        <div class="container">
            <div class="bnr-hd-title text-center pt-2 pb-2">
                <h1>One-Stop Solution to Crack Entrance Exams</h1>
                <p>1,00,000+ students get into their dream college every year using this online preparation tool. So can you.</p>
            </div>
            <div class="group-btn">
                <button class="start-btn"><a href="https://www.hitbullseye.com/learning-home.php">Start Learning</a></button>
                <button class="exp-btn"><a href="#">Expolore Courses</a></button>
                <button class="free-btn"><a href="#">Free Live Classes</a></button>
           </div>
        </div>
</section>

