<section class="booking-zone">
    <div class="container">
        <div class="title">
            <h1 class="hd-title text-center">Booking Zone</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="disc-box">
                        <img src="https://student.hitbullseye.com/sectional.732cd4e9b1b37289.svg">
                        <h6>Workshop</h6>
                        <div class="line-rd"></div>
                        <p>Classroom students book/request workshops, check booking history.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="disc-box">
                        <img src="https://student.hitbullseye.com/chapterwise.02c9f3036585aa93.svg">
                        <h6>Group Discussion</h6>
                        <div class="line-yl"></div>
                        <p>Classroom students book GD session, check booking history.</p>  
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="disc-box">
                        <img src="https://student.hitbullseye.com/my-performance-analysis.8b12442d3b8f0af9.svg">
                        <h6>Interview</h6>
                        <div class="line-or"></div>
                        <p>Classroom students book/request PI session, check booking history.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="disc-box">
                        <img src="https://student.hitbullseye.com/gd-interview.8a45c6dd9e7b0cf8.svg">
                        <h6>Counselling</h6>
                        <div class="line-gr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

