
<mat-toolbar class="hdr-clr" color="light">
    <mat-toolbar-row class="top-row">
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span><img class="logo" src="https://student.hitbullseye.com/assets/images/hitbullseye-logo.png"></span>
        <span class="menu-spacer"></span>
        <div class="left-nav">
            <button mat-icon-button>
                <mat-icon>dashboard</mat-icon>
            </button>
            <button mat-icon-button routerLink="/">
                <mat-icon>login</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>