<section class="profile">
    <div class="container">
     <!-- <header class="header" id="header">
        <h1>My Profile</h1>
  	</header>-->
         <div class="title">
            <h1 class="hd-title text-center">My Profile </h1>
        </div> 
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <a href="#">
                        <div class="disc-box">
                            <img src="https://student.hitbullseye.com/assets/images/rv-myaccount-i.svg">
                            <h6>My Account</h6>
                            <div class="line-rd"></div>
                            <p>View and edit profile.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <a href="change-password">
                        <div class="disc-box">
                            <img src="https://student.hitbullseye.com/assets/images/rv-password-i.svg">
                            <h6>Password</h6>
                            <div class="line-yl"></div>
                            <p>Change account password</p>  
                        </div>
                     </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <a href="#">
                        <div class="disc-box">
                            <img src="https://student.hitbullseye.com/assets/images/rv-my-courses.svg">
                            <h6>Course Details</h6>
                            <div class="line-or"></div>
                            <p>Details on Course type, Pricing & vilidity </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <a href="#">
                        <div class="disc-box">
                            <img src="https://student.hitbullseye.com/assets/images/switch-account.svg">
                            <h6>Switch Account</h6>
                            <div class="line-gr"></div>
                            <p>Switch to other courses</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!----section class="slider">
  <div class="container">
    <div id="owl-slider" class="owl-carousel">
      <div> Your content 1 </div>
      <div> Your content 2 </div>
      <div> Your content 3 </div>
      <div> Your content 4 </div>
      <div> Your content 5 </div>
      <div> Your content 6 </div>
      <div> Your content 7 </div>
  </div>
</div>
</section---->
