
.new-pwd-sec {padding:50px 0px;}
.new-pwd-sec .hd-title  { text-align: center;}
.new-pwd-sec .hd-title h1.title { font-size: 30px;}
.new-pwd-sec form.change_psd_area { background-color: #fff;padding: 30px; width: 500px;margin: 20px auto; box-shadow: 2px 3px 5px #ccc;}
.new-pwd-sec button.smt-btn {background-color: #1d6626; color: #fff; border-radius: 4px;border: 1px solid #1d6626;outline: none; width: 100%; padding: 8px;}