<section class="new-pwd-sec">
    <div class="container">
        <div class="hd-title">
           <h1 class="title">New Password</h1>
        </div>
        <form action="" class="change_psd_area" >
            <div class="mb-3">
                <label for="currentpassword" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="currentpassword" aria-describedby="change-password" placeholder="Current Password">
            </div>
            <div class="mb-3">
                <label for="newpassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newpassword" aria-describedby="new-password" placeholder="New Password">
            </div>
            <div class="mb-3">
                <label for="retypepassword" class="form-label">Retype Password</label>
                <input type="password" class="form-control" id="retypepassword" aria-describedby="retypepassword" placeholder="Retype Password">
            </div>
            <div class="mb-3">
                <button type="submit" class="smt-btn">Submit</button>
            </div>
        </form>
    </div>
</section>