<div class="sd-br"> 
    <div class="side-menu-bar">
      <ul mat-menu>
        <li mat-menu-item><a href="/"><mat-icon fontIcon="dashboard"
              class="icon"></mat-icon>Dashboard</a></li>
        <li mat-menu-item><a href="bookingzone"><mat-icon fontIcon="card_membership" class="icon"></mat-icon>Booking Zone</a>
        </li>
        <li mat-menu-item><a href="inbox"><mat-icon fontIcon="email" class="icon"></mat-icon>Inbox</a>
        </li>
        <!-- <a mat-menu-item routerLink="#">Tables</a> -->
        <li mat-menu-item><a href="our-courses"><mat-icon fontIcon="ac_unit" class="icon"></mat-icon>Our Courses</a></li>
        <li mat-menu-item><a href="profile"><mat-icon fontIcon="portrait" class="icon"></mat-icon>Profile</a></li>
        <li mat-menu-item><a routerLink="Help-and-Feedback"><mat-icon fontIcon="headset" class="icon"></mat-icon>Help & Feedback</a>
        </li>
      </ul>
    </div>
  </div>